.logo {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.image-centered {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding: 2em;
}
.image-pequeña img,
.image-normal img {
  border-radius: 50px;
}
.image-pequeña {
  max-width: 30vw;
}
