.footer {
  margin-top: 2em;
  padding-top: 1em;
  width: 100%;
  background-color: rgb(68, 68, 68);
}

.container,
.container__map {
  display: flex;
  justify-content: space-evenly;
  margin: 1em 0;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column a,
.footer p {
  color: white;
  background: none;
}
.line {
  border-right: 1px solid white;
}
.footer__facebook {
  color: white;
  text-align: center;
}
.footer__rights {
  padding: 1em;
  color: aliceblue;
  background-color: rgb(36, 36, 36);
}
